body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

section {
  flex-grow: 1;
  display: flex;
  height:0px; /* <== for scrolls in aside */
}

aside  {
  overflow:auto;
  min-height: 0;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}

section main {
  overflow:auto;
  flex-grow: 1;

}